*
  box-sizing: border-box
  
html, body
  font-family: 'Source Sans Pro', sans-serif
  font-size: 100%
  height: 100%
  color: $color-text
  overflow-x: hidden
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

.container
  margin: 0 auto
  padding-top: 130px

.container__inner
  max-width: 960px
  margin: auto
  padding: 0 20px

.center
  text-align: center

.section
  padding-top: 80px
  padding-bottom: 80px
  position: relative

.terms
  h1, h2, h3
    text-align: center

  h1, h2
    margin-bottom: 0

  h3
    margin-top: 0

  a, a:visited
    text-decoration: none
    color: $color-link

.page-enter-active, .page-leave-active
  transition: opacity .25s ease

.page-enter, .page-leave-active
  opacity: 0

.vueconf-logo
  max-height: 50vh

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0