<template>
  <div class="section">
    <div class="container__inner  post-section">
      <div id="past-events">
        <h2 class="section-title">VueConfUS 2018 and 2019 Highlights</h2>
        <h3>
          <a href="http://2018.vueconf.us" target="_blank">VueConfUS 2018</a>
        </h3>
        <iframe
          id="ytplayer"
          type="text/html"
          width="480"
          height="300"
          src="https://www.youtube.com/embed/tdBO-XGOMPI"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
        <h3>
          <a href="http://2019.vueconf.us" target="_blank">VueConfUS 2019</a>
        </h3>
        <iframe
          id="ytplayer2"
          type="text/html"
          width="480"
          height="300"
          src="https://www.youtube.com/embed/veChPr8dLsY"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>
      <br />
      <br />
      <br />
      <div class="cfp-content">
        <h2 class="section-title">Convince Your Boss!</h2>
        <p>
          Need help convincing your boss to let you come to VueConf? We got you
          covered with this template that you can personalize and send to your
          boss!
        </p>
        <a
          href="https://www.dropbox.com/scl/fi/dh07z5ydy2fqiorn2qvvh/Convince-Your-Boss-VueonfUS-2023.paper?dl=0&rlkey=o2wqprb0rtqh7u4w9vrdsyj8w"
          class="button button--convince"
          target="_blank"
          >Get Your Template Here!</a
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import '~assets/css/base/helpers';

.button--convince {
  display: block;
  width: 300px;
  margin: 30px auto 0;
  border-radius: 50px;
  padding: 20px 40px;
}

.speaker-button {
  margin: 40px 0 10px;
}

.cfp-video {
  display: inline-block;
  max-width: 100%;
  overflow-x: hidden;
  vertical-align: middle;
  text-align: left;

  @media #{$medium-up} {
    padding: 0 20px 0 0;
    max-width: calc(60% - 40px);
  }
}

.cfp-content {
  display: inline-block;
  max-width: 90%;
  vertical-align: middle;
  text-align: left;

  @media #{$medium-up} {
    padding: 0 20px;
  }

  h2 {
    margin-bottom: 0;
    text-align: center;
  }
}

.subtitle {
  font-weight: bold;
}
</style>
