<template>
  <div class="section section--lightning">
    <div class="container__inner section post-section">
      <div class="cfp-content">
        <h2 class="section-title">Lightning Talks!</h2>
        <p>Share your passion for Vue.js on the big stage!</p>
        <p>This is your chance to do an 8 minute presentation on your favorite Vue.js (or other) topic! They will be on both days of the main conference, and all are encouraged to present!</p>
        <p>Lightning talk papers can be submitted a week before the event, so start thinking of your ideas after you've gotten your tickets!</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "~assets/css/base/helpers";

.speaker-button {
  margin: 40px 0 10px;
}

.section--lightning {
  background-color: $color-green--dark;

  .section-title,
  p {
    color: white;
  }
}

.cfp-video {
  display: inline-block;
  max-width: 100%;
  overflow-x: hidden;
  vertical-align: middle;
  text-align: left;

  @media #{$medium-up} {
    padding: 0 20px 0 0;
    max-width: calc(60% - 40px);
  }
}

.cfp-content {
  display: inline-block;
  max-width: 90%;
  vertical-align: middle;
  text-align: left;

  @media #{$medium-up} {
    padding: 0 20px;
  }

  h2 {
    margin-bottom: 0;
    text-align: center;
  }
}

.subtitle {
  font-weight: bold;
}
</style>
