<template>
  <div class="navbar" :class="isOpen &amp;&amp; 'open'">
    <div class="navbar__container">
      <nuxt-link class="navbar__logo" to="/">
        <img src="~/assets/vuelogo.svg" width="40" height="36" />Vueconf US
      </nuxt-link>

      <nav class="desktop-nav">
        <ul class="desktop-nav__list">
          <li
            v-for="item in navLinks"
            class="desktop-nav__item"
            :key="item.label"
          >
            <a :href="item.url" :class="{ button: item.type === 'button' }">
              {{ item.label }}
            </a>
          </li>
        </ul>
      </nav>

      <button class="navbar__burger" type="button" @click="toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </button>

      <nav class="mobile-nav">
        <ul class="navbar-nav" @click="toggle">
          <li
            v-for="item in navLinks"
            class="navbar-nav__item"
            :key="item.label"
          >
            <a :href="item.url" :class="{ button: item.type === 'button' }">
              {{ item.label }}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
      navLinks: [
        {
          label: 'Speakers',
          url: '/#speakers'
        },
        {
          label: 'Workshops',
          url: '/#workshops'
        },
        {
          label: 'Location',
          url: '/#location'
        },
        {
          label: 'Past Events',
          url: '/#past-events'
        },
        // {
        //   label: 'SCHEDULE',
        //   url: '/schedule'
        // },
        {
          label: 'Register',
          url: 'https://reg.connectevents.io/ConnectEvents/vueconfus2024/',
          type: 'button'
        }
      ]
    }
  },
  methods: {
    toggle() {
      this.isOpen = !this.isOpen
    },
    trackTicketsEvent(event) {
      // ga('send', 'event', {
      //   eventAction: 'click',
      //   eventLabel: event.target.href,
      //   eventCategory: 'Tickets link',
      //   transport: 'beacon'
      // })
      // _pq.push(['track', 'GoToTickets'])
      // fbq('trackCustom', 'GoToTickets', { source: 'Navigation' });
    }
  }
}
</script>

<style lang="sass">
@import ~assets/css/base/helpers

.navbar
  display: block
  position: fixed
  z-index: 10
  background: rgba(#fff, 0.8)
  border-bottom: 1px solid #efefef
  width: 100%
  padding: 20px 0
  align-items: center

.nav-target
  position: absolute
  top: -76px

.navbar__container
  max-width: 960px
  padding: 0 20px
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: center

.navbar__logo
  line-height: 40px

  img
      vertical-align: middle
      margin-right: 15px

.navbar__logo,
.navbar-nav__item a
  text-decoration: none
  color: $color-blue

  &.button
      color: white

.navbar-nav
  margin: 0
  padding: 0
  list-style: none

.navbar-nav__item
  display: inline-block
  vertical-align: middle
  padding-left: 25px
  line-height: 35px
  text-transform: uppercase

  a
      font-size: 15px
      font-weight: normal

.navbar__burger
  display: none

@media screen and (max-width:639px)
.navbar__burger
  display: block
  border: 1px solid #ccc
  border-radius: 5px
  height: 30px
  width: 40px
  box-sizing: border-box
  padding: 8px 8px
  background: none

  .bar
      position: relative
      height: 2px
      margin-bottom: 3px
      background: #ccc
      transition: opacity 0.5s ease, transform 0.5s ease

.mobile-nav
  position: absolute
  left: 100%
  top: 0

  li
      width: 250px
      padding-left: 0 !important
      padding: 0
      > a
          padding: 15px 25px
          display: block
      + li
          box-shadow: 0 -10px 0 -9px #eee

  .button
      margin: 20px auto
      display: block
      max-width: calc(100% - 100px)

.navbar, .navbar ~ *
  transition: transform 0.3s ease

.navbar.open, .navbar.open ~ *
  transform: translateX(-250px)

.navbar.open
  .navbar__burger
      .bar:nth-child(1), .bar:nth-child(3)
          opacity: 0

      .bar:nth-child(2)
          transform: rotate(45deg) scale(0.7, 0.7)

      .bar:nth-child(2)::before
          content: ' '
          display: block
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          background: #ccc
          transform: rotate(90deg)

// Custom Code

.desktop-nav
  display: none

@media screen and (min-width:768px)
  .desktop-nav
    display: block
    position: relative
    left: auto

  .desktop-nav__list
    display: flex
    margin-top: 0
    list-style: none

  .desktop-nav__item
    padding: 0 15px
    display: flex
    align-items: center
    font-size: 1.1rem
    font-weight: 500

    .button
      font-size: 1.1rem

  .navbar__burger
    display: none

  .mobile-nav
    display: none
</style>
