<template>
  <div class="section post-section">
    <div class="container__inner">
      <h2 class="section-title">Conference Hosts</h2>

      <transition-group class="session-list-container" name="fade" tag="div">
        <v-flex
          md6
          offset-md3
          v-for="speaker of speakers"
          :speaker="speaker"
          :key="speaker.name"
        >
          <Session :isSmall="true" :speaker="speaker"></Session>
        </v-flex>
      </transition-group>
    </div>
  </div>
</template>

<script>
import Session from '~/components/SessionOld'

export default {
  components: { Session },
  props: {},
  data() {
    return {
      speakers: [
        {
          name: 'Evan You',
          sessionTitle: 'Creator of Vue.js',
          img:
            'https://cfp.connectevents.io/system/avatars/1107/large/499550.jpeg?1515104079'
        }
      ],
      dialog: false
    }
  },
  computed: {}
}
</script>

<style lang="sass" scoped>
@import ~assets/css/base/helpers
@import ~assets/css/components/card

h1
    margin-bottom: 0

.section.post-section
    background-color: #f9f9f9

.venue__map
    margin-top: 40px
    display: inline
    @include card

    img
        max-width: 100%

.button
    margin-top: 20px
    font-weight: 400
    font-size: 16px
</style>
