<template>
  <div class="section section--speakers">
<!--  <div>-->
<!--    <h1 class="section-title is-white">CFP now open!</h1>-->
<!--        <h2>Submit your presentation ideas into our CFP system. Deadline: January 31 2023</h2>-->
<!--    </div>-->
<!--    <h3>-->
<!--    <nuxt-link class="" to="/call-for-papers">-->
<!--      <button class="cfp-button">CFP page</button>-->
<!--    </nuxt-link>-->
<!--      <a  class="button&#45;&#45;email" href="https://sessionize.com/vueconf-us-2023/">-->
<!--         Go to Call for Papers-->
<!--      </a>-->

<!--    </h3>-->
    <div>
      <h1 class="section-title is-white">Get updates!</h1>
      <h2>Find out important details and announcements</h2>
    </div>

    <h3>
    <a class="button--email" href="https://mailchi.mp/369c2b4545dc/vueconfus">
      Get Email Updates
    </a>
    </h3>

    <div>
      <h1 class="section-title is-white">Hosted by the creator of Vue.js and the core team</h1>
    </div>

    <br>
    <div>
      <h2>No need for FOMO, save your seat now!</h2>
      <h3>
<!--      <h1 class="section-title is-white">BLACK FRIDAY TICKET SALE ENDS ON NOVEMBER 27</h1>-->
      <a  class="button--email" href="https://reg.connectevents.io/ConnectEvents/vueconfus2024/">
        Register here!
      </a>
      </h3>
    </div>

  </div>
</template>

<script>

</script>

<style lang="scss" scoped>
@import "~assets/css/base/helpers";

.section--speakers {
  background-color: $color-green--dark;
  text-align: center;
}

.button--email {
  display: block;
  width: 300px;
  margin: 30px auto 0;
  border-radius: 50px;
  padding: 20px 40px;
  background-color: white;
}

.cfp-button {
  display: block;
  width: 300px;
  margin: 30px auto 0;
  border-radius: 50px;
  border-width: 0px;
  padding: 20px 40px;
  background-color: white;

}

.title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 2rem;
}
nuxt-link-active {
  font-weight: bold;
}
/* exact link will show the primary color for only the exact matching link */
nuxt-link-exact-active {
  color: white;
}

</style>
