<script>
import Event from './Event'

export default {
  name: 'ScheduleDay',
  props: {
    date: {
      type: String,
      required: true
    },
    eventData: {
      type: Array,
      required: true,
      default: () => []
    },
    location: {
      type: Object,
      required: true
    },
    time: {
      type: String,
      required: true
    }
  },
  components: {
    Event
  }
}
</script>

<template>
	<section>
    <div class="subheader__description">
      <p><strong>Date:</strong> {{ date }}</p>
      <p><strong>Time:</strong> {{ time }}</p>
      <p><strong>Location:</strong> <a :href="location.map" target="_blank">{{ location.name }}</a></p>
    </div>
    <div class="agenda">
      <Event v-for="(event, index) of eventData"
        :event="event"
        :key="index"
      />
    </div>
  </section>
</template>

<style lang="scss" scoped>
@import "~assets/css/base/helpers";

.agenda {
  position: relative;
}

.subheader__description {
  margin: 40px 0;
  line-height: 1.5;

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
</style>
