<template>
  <div>
    <nuxt-link :to="{ path: 'session', query: { id: session.id }}">
      <v-card  class="session-card" justify="center" >
        <v-layout>
          <v-flex xs5>
            <v-img class="white--text"
                   height="200px"
                   :src="speakers[0].profilePicture">
            </v-img>

          </v-flex>
          <v-flex xs7>
            <div class="speaker-details">
              <div class="speaker-name" v-text="speakers[0].fullName"></div>
              <div class="speaker-title" v-text="sessionTitleTruncate(speakers[0].bio)">
              </div>
            </div>
          </v-flex>
        </v-layout>
        <v-divider light></v-divider>
        <v-card-text class="session-title">
          {{ session.description }}
        </v-card-text>
      </v-card>
    </nuxt-link>

  </div>
</template>

<script>
export default {
  props: {
    session: {
      type: Object,
      required: true
    },
    speaker: {
      type: Object,
      required: false
    },
    isSmall: Boolean
  },
  data() {
    return {
      dialog: false
    }
  },
  methods: {
    sessionTitleTruncate(sessionTitle) {
      let adjustedSessionTitle = "";
      let maxSessionTitleLength = 80;
      if (sessionTitle.length > maxSessionTitleLength) {
        adjustedSessionTitle = sessionTitle.substring(0, maxSessionTitleLength);
        adjustedSessionTitle += "...";
      } else {
        adjustedSessionTitle = sessionTitle.padEnd(maxSessionTitleLength, ' ')

      }
      return adjustedSessionTitle;
    },
    showDetails(id) {
      // this.$router.push({
      //     path: '/session/' + id
      // })

      this.$router.push({
        name: 'session', params: {id}
      })
    },
    fullImageUrl(uri) {
      // return 'https://cfp.connectevents.io/' + uri.replace("/large/", "/original/")
      return "https://pixabay.com/vectors/blank-profile-picture-mystery-man-973460/"
    }
  },
  computed: {
    image() {
      return 'https://cfp.connectevents.io/' + this.speaker.image
    },
    imageSize: function () {
      if (this.isSmall) {
        return {smallSessionImage: true}
      } else {
        return {sessionImage: true}
      }

      return
    },
    mobilenowrap() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return true
        case 'sm':
          return true
        case 'md':
          return false
        case 'lg':
          return false
        case 'xl':
          return false
      }
    },
    speakers: function() {
      // console.log(this.speaker)

      if (this.speaker != null) return [this.speaker];
      let speakers = [];
      this.session.speakers.forEach((element) => {
        speakers.push(this.$content.findSpeakerById(element.id))
      })
      return speakers;
    }
  }
}
</script>

<style scoped>
.sessionImage {
  vertical-align: top;
  margin-top: 0px;
  padding-top: 0px;
}

.session-card {
  height: 350px;
  width: 300px;
  margin-top: 30px;


}

.session-title {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  color: #001E61;
  text-align: center;
  background-color: lightgray;
  height: 150px;
}

.session-speaker {
  font-size: 1.2rem;
}

.smallSessionImage {
  width: 200px;
  height: 200px;
  max-height: 95px;
  min-height: 95px;
  max-width: 85px;
  margin-left: 10px;

}

.speaker-name {
  width: 100%;
  position:absolute;
  top:10px;
  text-align: center;
  font-family: "MyriadPro";
  font-size: 1.6em !important;
  color: snow;
  font-weight: bold;
}

.speaker-title {
  font-family: "MyriadPro";
  font-size: 1.2em !important;
  color: white;
  font-weight: normal;
  position:absolute;
  bottom:10px;
  margin-left: 5px;
  right: 5px;
  text-decoration: none;
}

.speaker-details {
  position:relative;
  padding-top: 20px;
  height: 200px;
  background-color: #001E61;
}

a {
  text-decoration: none !important;
}

</style>
