<template>
  <div>
    <v-card class="session-card">


      <v-layout align-center >
        <v-card-text   pa-1>
          <v-flex xs12>
            <h1 class="h1-adjust" v-text="speaker.name"></h1>
            <img class="sessionImage" :src="speaker.img">

            <h2 v-text="sessionTitleTruncate(speaker.sessionTitle)" class=""></h2>
          </v-flex>
        </v-card-text>
      </v-layout>
    </v-card>


  </div>
</template>

<script>
export default {
  props: {
    speaker: {
      type: Object,
      required: true
    },
    isSmall: Boolean
  },
  data() {
    return {
      dialog: false
    }
  },
  methods: {
    sessionTitleTruncate(sessionTitle) {
      let adjustedSessionTitle = "";
      let maxSessionTitleLength = 50;
      if (sessionTitle.length > maxSessionTitleLength) {
        adjustedSessionTitle = sessionTitle.substring(0,maxSessionTitleLength);
        adjustedSessionTitle+="...";
      } else {
        adjustedSessionTitle = sessionTitle.padEnd(maxSessionTitleLength, ' ')

      }
      return adjustedSessionTitle;
    },
    showDetails(id) {
      this.$router.push({
        path: '/session?id='+id
      })
    }
  },
  computed: {
    image() {
      return this.adjustImgUrl ? `/../${this.speaker.img}` : this.speaker.img
    },
    imageSize: function() {
      if (this.isSmall) {
        return { smallSessionImage: true }
      } else {
        return { sessionImage: true }
      }

      return
    },
    mobilenowrap() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return true
        case 'sm':
          return true
        case 'md':
          return false
        case 'lg':
          return false
        case 'xl':
          return false
      }
    }
  }
}
</script>

<style scoped>
.sessionImage {
  width: 150px;
  max-height: 170px;
  max-width: 170px;
  vertical-align: top;
}

.session-card {
  /*margin-left: 10px;*/
  /*margin-top: 10px;*/
  /*height: 150px;*/
  padding: 0px;
  margin: 0px;
}

.session-title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
}

.session-speaker {
  font-size: 1.2rem;
}

.smallSessionImage {
  width: 75px;
  height: 95px;
  max-height: 95px;
  min-height: 95px;
  max-width: 85px;
  margin-left: 10px;

}
  .h1-adjust {
    padding: 0px;
    margin: 0px;
  }
</style>
