<template>
    <div class="section sponsors-section">
        <div class="center">
            <div class="container__inner">

              <h2>Sponsorships at these levels and other available for a limited time!</h2>
              <section>
              <a class="button" target="_BLANK" href="https://cevents.typeform.com/to/lNGV4O?typeform-source=connectevents.typeform.com">Become a Sponsor</a>
<!--                <h2>DEVELOPER LOUNGE SPONSOR</h2>-->
<!--                <section class="grid-1">-->
<!--                <p><a href="https://www.techatbloomberg.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/bloomb.png"/></a></p>-->
                </section>
<br><br><br>
<!--              <h2>PLATINUM SPONSOR</h2>-->
<!--                <section class="grid-1">-->
<!--               <p><a href="https://www.tegus.com/careers/tech" target="_BLANK"><img class="sponsor__image" src="~assets/img/tegus.png"/></a></p>-->
<!--                </section>-->
<!--              <h2>TECH LOUNGE SPONSOR</h2>-->
<!--                <section class="grid-1">-->
<!--               <p><a href="https://www.bloomberg.com/company/values/tech-at-bloomberg/javascript/?utm_medium=cto&utm_content=site-partner&utm_source=site-partner&tactic=613686" target="_BLANK"><img class="sponsor__image" src="~assets/img/bloomb.png"/></a></p>-->
<!--                </section>-->

<!--              <h2>GOLD SPONSORS</h2>-->
<!--                <section class="grid-2">-->
<!--               <p><a href="https://appwrite.io/" target="_BLANK"><img class="sponsor__image" src="~assets/img/appwrite.png"/></a></p>-->
<!--               <p><a href="https://www.vuemastery.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/vuemastery.png"/></a></p>-->
<!--               <p><a href="https://www.telerik.com/kendo-vue-ui" target="_BLANK"><img class="sponsor__image" src="~assets/img/progresskendoui.png"/></a></p>-->
<!--               <p><a href="https://www.slim.ai/" target="_BLANK"><img class="sponsor__image" src="~assets/img/slimai.png"/></a></p>-->
<!--               <p><a href="https://vehikl.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/vehikl.png"/></a></p>-->
<!--                </section>-->

<!--                <h2>CloudyLOUNGE (this is gonna be awesome!)</h2>-->
<!--                <section class="grid-1">-->
<!--                <p><a href="http://cloudinary.rocks/cecca" target="_BLANK"><img class="sponsor__image" src="~assets/img/cloudinary.png"/></a></p>-->
<!--                </section>-->

                <h2>SPONSORS</h2>
                <section class="grid-3">
<!--                <p><a href="https://azure.microsoft.com/en-us/resources/join-the-azure-developer-community/?ocid=AID2428618" target="_BLANK"><img class="sponsor__image" src="~assets/img/MSFT.png"/></a></p>-->

<!--                <p><a href="https://vuetifyjs.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/vuetify.png"/></a></p>-->
<!--                <p><a href="https://www.vuemastery.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/vuemastery.png"/></a></p>-->
<!--                <p><a href="https://www.whitesourcesoftware.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/whitesource.png"/></a></p>-->
<!--                <p><a href="https://tidelift.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/tidelift.png"/></a></p>-->
<!--                <p><a href="https://www.nexmo.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/nexmo.png"/></a></p>-->
<!--                <p><a href="https://www.synerzip.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/synerzip.png"/></a></p>-->
<!--                <p><a href="https://www.bigcommerce.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/bigcommerce.png"/></a></p>-->
<!--                <p><a href="https://sentry.io/welcome/" target="_BLANK"><img class="sponsor__image" src="~assets/img/sentry.png"/></a></p>-->
<!--                    <p><a href="https://ionic.link/vueconfus" target="_BLANK"><img class="sponsor__image" src="~assets/img/ionic1.png"/></a></p>-->

<!--                  <a href="https://circleci.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/circleci.png"/></a>-->
<!--                    <a href="https://vehikl.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/vehikl.png"/></a>-->

<!--                    <a href="https://sentry.io" target="_BLANK"><img class="sponsor__image" src="~assets/img/sentry.png"/></a>-->
                </section>

<!--                <section class="grid-3">-->

<!--                    <a href="https://vueschool.io/" target="_BLANK"><img class="sponsor__image" src="~assets/img/vueschool.png"/></a>-->
<!--                    <a href="https://www.postman.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/postman.png"/></a>-->

<!--                    <a href="https://www.bigcommerce.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/bigcommerce.png"/></a>-->

<!--                    <p><a href="https://cloudinary.rocks/7qa" target="_BLANK"><img class="sponsor__image" src="~assets/img/cloudinary.png"/></a></p>-->
<!--                  </section>-->
                <h2>LANYARD SPONSOR</h2>
                <section class="grid-1">
<!--               <a href="https://formkit.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/formkit.png"/></a>-->
                </section>

<!--                <h2>LANYARD SPONSOR</h2>-->
<!--                <p><a href="https://www.cypress.io/" target="_BLANK"><img class="sponsor__image" src="~assets/img/cypress.png"/></a></p>-->
<!--                <p></p>-->
<!--                <h2>NAME BADGE SPONSOR</h2>-->
<!--                <p><a href="http://cloudinary.rocks/cecca" target="_BLANK"><img class="sponsor__image" src="~assets/img/cloudinary.png"/></a></p>-->
<!--                <p></p>-->

                <h2>VIDEO SPONSOR</h2>
<!--                <a href="https://www.vuemastery.com/" target="_BLANK"><img class="sponsor__image" src="~assets/img/vuemastery.png"/></a>-->
                <p></p>

                <section>
                <h2>BADGE SPONSOR</h2>
<!--                <a href="https://aws.amazon.com/amplify/" target="_BLANK"><img class="sponsor__image" src="~assets/img/aws.png"/></a>-->
<!--                <p></p>-->

                </section>
                <h2>COMMUNITY PARTNER</h2>
                <a href="https://operationspark.org/" target="_BLANK"><img class="sponsor__image" src="~assets/img/operationspark.png"/></a>
                <p></p>


<!--                <h2>OPPORTUNITY GRANT SPONSOR</h2>-->
<!--                <section class="grid-1">-->
<!--               <p><a href="https://www.cypress.io/" target="_BLANK"><img class="sponsor__image" src="~assets/img/cypress.png"/></a></p>-->
<!--                </section>-->
<!--                <h2>COMMUNITY PARTNERS</h2>-->
<!--                <section class="grid-2">-->
<!--                <p><a href="https://www.meetup.com/MiamiJS/" target="_BLANK"><img class="sponsor__image" src="~assets/img/miamijs.png"/></a></p>-->

<!--                <p><a href="https://www.meetup.com/floridajs/" target="_BLANK"><img class="sponsor__image" src="~assets/img/floridajs.png"/></a></p>-->

<!--                <p><a href="https://www.meetup.com/Front-end-Developers-of-Miami/" target="_BLANK"><img class="sponsor__image" src="~assets/img/frontendmiami.png"/></a></p>-->

<!--                <p><a href="http://connectevents.io/" target="_BLANK"><img class="sponsor__image" src="~assets/img/connectevents.png"/></a></p>-->

<!--                </section>-->
            </div>
            <p>Help us make it the best possible conference for the community.</p>
<!--            <a class="button" target="_BLANK" href="https://connectevents.typeform.com/to/lNGV4O">Become a Sponsor</a>-->
        </div>

    </div>

</template>

<script>
export default {
}
</script>

<style lang="sass" scoped>
@import ~assets/css/base/helpers

.button
  margin-top: 40px

.sponsors-section
  h1
    margin-bottom: 10px
  h2
    margin-top: 10px
    margin-bottom: 10px

.sponsors__container
  margin: 60px 0

.sponsor__image
  height: 300px
  width: 300px
  max-height: 300px
  max-width: 300px
  margin: 0 20px 20px 20px
  vertical-align: middle
  display: inline-block

.partner__image
  display: inline-block
  vertical-align: middle
  max-width: 90%
  width: 180px
  height: auto
  margin: 0 12px 20px 12px

.partner__image--special
  width: 320px
  margin-bottom: 50px

.grid-1
    display: grid
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto auto
    grid-gap: 20px
.grid-2
    display: grid
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: auto auto auto auto
    grid-gap: 20px
.grid-3
    display: grid
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto
    grid-gap: 0px
    grid-column: 1 / -1

</style>
