<template>
  <div class="container pt0">
    <div class="container__inner section post-section">
      <div class="cfp-content">
        <h2>How do you Vue?</h2>
        <p class="subtitle">Attendees will get a chance to do lightning talks and share their passion for Vue.js!</p>
        <p>Lightning talk papers can be submitted a week before the event, so start thinking of your ideas after you've gotten you tickets!</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
@import "~assets/css/base/helpers";

.container.pt0 {
  padding-top: 0;
}

.speaker-button {
  margin: 40px 0 10px;
}

.cfp-video {
  display: inline-block;
  max-width: 100%;
  overflow-x: hidden;
  vertical-align: middle;
  text-align: left;

  @media #{$medium-up} {
    padding: 0 20px 0 0;
    max-width: calc(60% - 40px);
  }
}

.cfp-content {
  display: inline-block;
  max-width: 90%;
  vertical-align: middle;
  text-align: left;

  @media #{$medium-up} {
    padding: 0 20px;
  }

  h2 {
    margin-bottom: 0;
    text-align: center;
  }
}

.subtitle {
  font-weight: bold;
}
</style>
