<template>
  <div class="talk__container">
    <div class="talk">
      <div class="talk__image-container">
        <div v-for="author in talk.authors" class="talk__author-container" :key="author.name">
          <div class="talk__images">
            <img :src="author.img" :alt="author.name" class="talk__image">
          </div>
          <p class="talk__author-meta">
            <span class="talk__author">
              {{ author.name }}
            </span>
            <br>
            <span class="talk__author-info" v-html="author.tagline" />
          </p>
          <div class="talk__social__container">
            <div class="talk__social" >
              <a v-for="(value, label) in author.social" 
                :class="`icon icon--${label}`" 
                :href="value" 
                target="_blank"
                :key="`${author.name}-${label}`"
              >
                <span class="sr-only">{{ author.name }}'s {{ label }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="talk__text" :style="{ flex: descFlex }">
        <h2 class="talk__topic" :id="talk.id">
          <a :href="`#${talk.id}`">{{ talk.topic }}</a>
        </h2>
        <div class="talk__description" v-html="talk.description"></div>
        <a class="button" :href="workshopLink">Register</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Talk',
  props: ['talk', 'descFlex'],
  computed: {
    images () {
      return Array.isArray(this.talk.img) ? this.talk.img : [this.talk.img]
    },
    workshopLink () {
      return this.talk.workshopUrl ? this.talk.workshopUrl : 'https://tickets.connectevents.io/events/vueconf2019/'
    }
  },
  mounted () {
    // if (this.id === this.$route.query.focus) {
    //   this.$refs.talk.focus()
    // }
  }
}
</script>

<style lang="sass">
@import ~assets/css/base/helpers
@import ~assets/css/components/card

.talk__container
  margin-bottom: 40px

.talk
  display: flex
  padding: 40px 10px
  margin-bottom: 20px
  align-items: center
  justify-content: space-around
  flex-direction: column
  @include card
  cursor: auto

  @media #{$medium-up}
    flex-direction: row
    padding: 40px

  &:focus
    outline: none

.talk__text
  flex: 5
  display: flex
  flex-direction: column
  justify-content: flex-start
  height: 100%
  white-space: pre-line
  padding: 0 15px

  .button
    margin: 0 auto
    margin-top: 30px
    width: 200px

    @media #{$medium-up}
      margin-left: 0

.talk__description
  p, ul, li
    font-size: 1.1rem

    @media #{$medium-up}
      font-size: 1.25rem
  
  p
    line-height: 1.5

    &:first-child 
      margin-top: 0

      @media #{$medium-up}
        margin-top: 20px

  ul
    padding-left: 30px

.talk__image-container
  flex: 3
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between

.talk__author-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  margin-top: 30px

  &:first-child 
    margin-top: 0

.talk__author-meta
  text-align: center
  margin-top: 5px

.talk__images
  flex-direction: row
  display: flex

.talk__image
  display: block
  margin: 0 -10px
  height: 100px
  width: 100px
  border-radius: 50%
  padding-bottom: 10px
  box-sizing: content-box

  @media #{$medium-up}
    height: 150px
    width: 150px

.talk__social__container
  display: flex
  flex-direction: row

.talk__social
  margin: 10px 20px 0

  .icon
    box-sizing: content-box

  .icon:not(:last-child)
    padding-right: 10px

.talk__topic
  color: $color-vue-green
  margin: 15px
  margin-top: 25px
  text-align: center
  font-weight: bold
  font-size: 1.8rem

  @media #{$medium-up}
    margin: 5px 0 0
    font-size: 2.1rem
    text-align: left

.talk__author
  font-weight: 600
  font-size: 20px
  padding-bottom: 5px

  @media #{$medium-up}
    font-size: 24px

.talk__author-info
  font-size: 1.1rem

.center
  margin-top: 30px

.button
  text-transform: uppercase
  font-size: 16px
  font-weight: normal
</style>
