<template>
  <div class="section ticket-section">
    <div class="container__inner">
      <h1>Tickets</h1>
      <p><strong>THERE ARE A LIMITED NUMBER OF EARLY BIRD TICKETS</strong></p>
      <p>Get your tickets NOW before prices go up on January 15!</p>
      <div class="ticket" v-for="ticket2 in tickets2" :key="`ticket-${ticket2.name}`">
        <span class="ticket__name">{{ ticket2.name }}</span>
        <span class="ticket__date">{{ ticket2.date }}</span>
        <div class="ticket__price">
          <a
            href="https://reg.connectevents.io/ConnectEvents/vueconfus2024/"

            class="button button--dark"
            @click="trackTicketsEvent"
          >{{ ticket2.price }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import tickets from "../content/tickets";
import tickets2 from "../content/tickets2";
import tickets3 from "../content/tickets3";

export default {
  data() {
    return {
      tickets: tickets,
      tickets2: tickets2,
      tickets3: tickets3
    };
  },
  methods: {
    trackTicketsEvent(event) {
      // ga('send', 'event', {
      //   eventAction: 'click',
      //   eventLabel: event.target.href,
      //   eventCategory: 'Tickets link',
      //   transport: 'beacon'
      // })
      // _pq.push(['track', 'GoToTickets'])
      // fbq('trackCustom', 'GoToTickets', { source: 'Main page' });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~assets/css/base/helpers";

.ticket-section {
  padding-top: 80px;
  background-color: $color-green--dark;
  text-align: center;

  h1,
  p {
    color: #fff;
    margin-top: 0;
    margin-bottom: 30px;
  }

  p {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.button[disabled] {
  background: #8c9caf;
  pointer-events: none;
}

.ticket {
  margin: 0 auto;
  text-align: left;
  max-width: 800px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px;
  text-align: center;

  @media #{$medium-up} {
    text-align: left;
    padding: 12px 12px 12px 40px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr auto 120px;
    grid-column-gap: 20px;
    align-items: center;

    .button--dark {
      margin-top: 0;
    }
  }
}

.ticket--disabled {
  margin: 0 auto;
  text-align: left;
  max-width: 700px;
  background: #000;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px;
  text-align: center;

  @media #{$medium-up} {
    text-align: left;
    padding: 7px 7px 7px 40px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;

    .button--dark {
      margin-top: 0;
    }
  }
}

.ticket__name {
  padding-right: 20px;
  line-height: 28px;
  font-size: 22px;
  display: block;
  margin-bottom: 5px;
  flex: 1;

  @media (min-width: "#{$small}") {
    margin-bottom: 0;
  }
}

.tickets__info {
  color: #fff;
  margin-top: 10px;
  font-weight: 300;
}

.ticket__date {
  color: #777;
  line-height: 43px;
  font-size: 18px;
  max-width: 250px;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  flex: 1;
  text-align: left;
  width: 200px;

  @media (min-width: "#{$small}") {
    margin-bottom: 0;
  }
}

.ticket__price {
  display: block;
  font-size: 22px;

  @media (min-width: $small) {
    display: inline-block;
  }

  .button {
    width: 100%;
  }
}

.button--dark {
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}
</style>
