<template>
  <div class="section post-section">
    <div class="nav-target" id="location"></div>
    <div class="container__inner">
      <h2 class="section-title">Location</h2>

      <br>
      <a class="venue__map" href="https://www.google.com/maps/place/Generations+Hall/@29.9416027,-90.0663604,15z/data=!4m2!3m1!1s0x0:0xa6a506fd838ae6bb?sa=X&ved=2ahUKEwjpn77ag_SCAxUTLkQIHRWdApwQ_BJ6BAgSEAA" target="_BLANK">
        <img src="~assets/img/GenerationsHall.jpg" alt="ACE Hotel New Orleans">
      </a>
    </div>
    <div class="text-center">
        <p>Hotel details coming soon</p>
      <p>310 Andrew Higgins Blvd, New Orleans, LA</p>
<!--        <a class="button" target="_BLANK" href="https://reservations.acehotel.com/?&hotel=67228&arrive=2023-05-23&depart=2023-05-26&group=VUECONF">BOOK NOW</a>-->
    </div>
      <div class="text-center">
        <p>Vueconf.US will take place in New Orleans, USA.
          We'll be at the Ace Hotel in the heart of New Orleans and minutes from the French Quarter</p>
<!--        <a-->
<!--            class="button button&#45;&#45;dark"-->
<!--            href="https://book.passkey.com/go/VUEconference"-->
<!--            target="_BLANK"-->
<!--        > Hilton Fort Lauderdale Marina</a>-->
<!--                <p>Discounted rooms available at the official conference hotel. Click below to book.</p>-->
<!--                <a-->
<!--                  class="button button&#45;&#45;dark"-->
<!--                  href="https://book.passkey.com/go/VUEconference"-->
<!--                  target="_BLANK"-->
<!--                >TBD</a>-->
      </div>
    </div>

</template>


<script>
export default {};
</script>

<style lang="sass" scoped>
@import ~assets/css/base/helpers
@import ~assets/css/components/card

h1
  margin-bottom: 0

.section.post-section
  background-color: #f9f9f9

.venue__map
  margin-top: 40px
  display: inline
  @include card

  img
    max-width: 100%

.button
  margin-top: 20px
  font-weight: 400
  font-size: 16px
</style>
