<template>
  <div class="container container--workshop">
    <div class="container__inner post-section">
      <h2 class="section-title">Workshops</h2>
      <p>Level-up your Vue.js knowledge with Vue.js core team members and experts!</p>
      <div class="workshops-list">
        <transition-group class="workshop-list-container" name="fade" tag="div">
          <speaker
            class="fade"
            v-for="workshop of workshops"
            :speaker="workshop"
            :goToWorkshop="true"
            :key="workshop.name"
          ></speaker>
        </transition-group>
      </div>
      <div class="workshops-button center">
        <nuxt-link to="/workshops">
          <button class="button workshop-button">Learn more about the workshops!</button>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import workshops from "@/content/speakers/workshop-list.json";
import Speaker from "./Speaker.vue";

export default {
  data() {
    return {
      workshops
    };
  },
  components: {
    Speaker
  }
};
</script>

<style lang="scss" scoped>
@import "~assets/css/base/helpers";

.container--workshop {
  padding: 100px 0;
}

p {
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.container__inner {
  text-align: center;
  z-index: 2;
}
.workshop-button {
  margin-top: 30px;
  font-size: 1.5rem;
  padding: 25px 50px;
  border-radius: 50px;
}
.workshop-list-container {
  display: grid;

  @media (min-width: $medium) {
    grid-template-columns: 1fr 1fr;
  }
}
</style>
