<template>
  <div class="section section--speakers" id="workshops">
    <div>
      <h2 class="section-title is-white">Workshops and Training</h2>
      <h3>Full day, hands-on training to level up your Vue skills</h3>
      <h3>More details coming soon, but sign up now to reserve your spot!</h3>
<!--      <div class="speakers-list">-->
<!--        <transition-group class="speaker-list-container" name="fade" tag="div">-->
<!--          <speaker-->
<!--            class="fade"-->
<!--            v-for="speaker of speakers.speakers.speakers"-->
<!--            :speaker="speaker"-->
<!--            :key="speaker.full_public_name"-->
<!--          ></speaker>-->
<!--        </transition-group>-->
<!--      </div>-->
    </div>
  </div>
</template>

<script>
import Speaker from './Speaker'

import speakers from '../content/speakers/workshops-list-2023.json'

export default {
  data() {
    return {
      speakers
    }
  },
  components: {
    Speaker
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '~assets/css/base/helpers';

.section--speakers {
  background-color: $color-green--dark;
  text-align: center;
}

.title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 2rem;
}

.button[disabled] {
  background: #8c9caf;
  pointer-events: none;
}

.ticket {
  margin: 0 auto;
  text-align: left;
  max-width: 700px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px;
  text-align: center;

  @media #{$medium-up} {
    text-align: left;
    padding: 7px 7px 7px 40px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;

    .button--dark {
      margin-top: 0;
    }
  }
}

.ticket--disabled {
  margin: 0 auto;
  text-align: left;
  max-width: 700px;
  background: #000;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px;
  text-align: center;

  @media #{$medium-up} {
    text-align: left;
    padding: 7px 7px 7px 40px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;

    .button--dark {
      margin-top: 0;
    }
  }
}

.ticket__name {
  padding-right: 20px;
  line-height: 43px;
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
}

.tickets__info {
  color: #fff;
  margin-top: 10px;
  font-weight: 300;
}

.ticket__date {
  color: #bbb;
  line-height: 43px;
  font-size: 18px;
  max-width: 250px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.ticket__price {
  display: block;
  font-size: 22px;

  @media #{$medium-up} {
    display: inline-block;
  }
}

.button--dark {
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}

.speaker-list-container {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $medium) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $large) {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.fade {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.fade-enter-active,
.fade-leave-active {
  opacity: 0;
}

.schedule-link {
  font-size: xx-large;
  padding-bottom: 20px;
}

.speaker-button {
  margin-top: 30px;
  font-size: 1.5rem;
  padding: 25px 50px;
}
</style>
