<template>
  <div class="container">
    <div class="container__inner">
      <div>
        <h2>The Connect.Tech 2019 call for proposals is now open !<br/>
          <br/>Before submitting a talk, please review these guidelines. <br/>
          <br/>The conference will be in Atlanta October 16-18, 2019  <br/>
          <br/>
          <br/>Notifications for acceptance will go out on a rolling basis; submit early and often!<br/>
          <br/>Rejection notices will go out on June 1 or earlier.<br/>
          <br/>We look forward to reviewing your submissions!<br/>
        </h2>

        <h1>PLEASE TAKE 30 SECONDS TO REVIEW THESE GUIDELINES!</h1>

        <div class='list-style'>
          <li style=''>Once you've signed up on the CFP site, click 'Create New Event'. Make sure you also mark your
            availability.
          </li>
          <li style=''> Select the track accordingly in the CFP system.

          </li>
          <li style=''>Presentations (lectures) are 50 mins + 5 min for questions. Break apart longer sessions into
            PARTS I, II, etc. Longer, deep dive sessions, are given priority.
          </li>
          <li style=''>As we are a low-cost conference, we have limited resources for covering presenter travel and hotel. Please ask your company if they can cover your travel/hotel first. Please mark accordingly if need travel/hotel reimbursement
            (see below).
          </li>
          <li style=''>DO NOT CHANGE YOUR "COVER TRAVEL AND HOTEL" SELECTION ONCE YOUR SESSION HAS BEEN ACCEPTED! WE GET A
            NOTIFICATION WHEN THIS FLAG HAS BEEN FLIPPED, AND WE WILL RE-EVALUATE YOUR ACCEPTANCE! If you need to change
            this flag, please email us first!
          </li>
          <li style=''>Please email hello@Connect.Tech if you have any questions.</li>
        </div>
      </div>


      <div class="step">
        <div class="half"><img src="~assets/img/cfp0.png"/></div>
        <div class="half">
          <h3>Step 1</h3>
          <p>While creating your profile, be sure to fill in these sections.</p>
        </div>
      </div>
      <div class="step">
        <div class="half"><img src="~assets/img/cfp3.png"/></div>
        <div class="half">
          <h3>Step 2</h3>
          <p>This CFP system calls a presentation/session an EVENT. Create a new one for each of your proposed
            talks.</p>
        </div>
      </div>
      <div class="step">
        <div class="half"><img src="~assets/img/cfp1.png"/></div>
        <div class="half">
          <h3>Step 3</h3>
          <p>Set Event Type to lecture. Be sure to pick the correct topic area/track also.</p>
        </div>
      </div>
      <div class="step">
        <div class="half"><img src="~assets/img/cfp2.png"/></div>
        <div class="half">
          <h3>Step 4</h3>
          <p>Finally, set your availability for presenting. We can not guarantee we will be able to fit your
            availability, but we'll do our best.</p>
        </div>
      </div>
      <br/>
      <h1 id="cfplink"><a style='color:#000;text-align:center;'
                          href="https://cfp.connectevents.io/en/ct2019/cfp/session/new">Click here submit a
        session!</a>
      </h1>
    </div>
  </div>
</template>
<script>
  export default {
    head: {
      title: 'Connect.Tech'
    }
  }
</script>

<style scoped>

  .half {
    display: inline-block;
    max-width: 50%;
    vertical-align: middle;
    text-align: center;
  }

  .step {
    background: #fff;
    border-radius: 5px;
    text-align: left;
    box-shadow: 5px 5px gray, 5px 5px gray, 5px 5px gray;
    cursor: pointer;
    transition: all 0.15s ease;
    padding: 20px;
    margin: 40px 0 0;
  }

  .step img {
    width: 400px;
  }

  h1, h2, h3 {
    text-align: center;
  }


  h1, h2 {
    margin-bottom: 0;
  }


  h3, h4 {
    margin-top: 0;
  }

  h1 {
    margin-bottom: 40px;
  }

  ul {
    margin: 0;
  }

  hr {
    margin: 40px 0;
  }

</style>
