<template lang="pug">
.container
  .container__inner
    :markdown-it
      # **Conference Code of Conduct**

      Vueconf.US is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.

      Please treat your fellow Vueconf.US participants with respect, regardless of the context you’re interacting with them.

      Harassment is not appropriate for any conference venue. We expect all Vueconf.US participants to follow the Code of Conduct during the conference. This includes conference-related social events at off-site locations, and in related online communities and social media. Participants asked to stop any harassing behavior are expected to comply immediately. Conference participants violating this Code of Conduct may be expelled from the conference without a refund, and/or banned from future Vueconf.US events, at the discretion of Vueconf.US

      Examples of harassment include offensive comments, verbal threats or demands, sexualized images or language in public spaces, intimidation, stalking, harassing photography or recording, sustained disruption of sessions or events, and unwelcome physical contact or sexual attention. Speaker presentations fall under this category and should not use images or examples that would violate the code of conduct. Vueconf.US participants must remember that Vueconf.US organizers and volunteers are not trained conflict resolution specialists, nor are they security or law enforcement. Vueconf.US organizers and volunteers will immediately escalate issues around safety, violence, or similar situations to event venue staff or law enforcement. For the protection of Vueconf.US participants, Vueconf.US will never put its organizers or volunteers in the position of trying to assess whether or not an incident merits escalation. If there is any doubt, we will escalate incidents to the appropriate agency immediately.

      Incident Resolution
      * All Vueconf.US participants agree to treat each other with respect, regardless of whether you are in a session room or at the event venue facilities.
      * Simple disagreements should be resolved between the individuals concerned.
      * Harassment or more serious issues should be escalated to a Vueconf.US organizer or volunteer. That person will immediately contact a Vueconf.US Board member who has the responsibility to assist in resolution.
      * Vueconf.US participants suffering outright assault or extreme harassment should contact the event venue staff immediately, or a Vueconf.US organizer if they're nearby. That person will immediately escalate the issue to the event venue staff or law enforcement as appropriate.
</template>
<script>
export default {
  head: {
    title: 'Vueconf US | Code of Conduct'
  }
}
</script>

<style lang="sass" scoped>
h1, h2, h3
  text-align: center

h1, h2
  margin-bottom: 0

h3
  margin-top: 0
</style>
