<template>
  <div>
    <HeroSection />

    <!--    <WorkshopsSection/>-->
    <!--    <TicketsSection id="tickets"/>-->

    <PromoSection></PromoSection>

    <PromoSpeakers />
    <WorkshopsSection />
    <TicketsSection/>
    <ConvinceYourBoss />
    <!--    <LightningSection />-->

    <SpeakersSection />
    <VenueSection />
    <!-- //- newsletter-section -->
    <SponsorsSection />
  </div>
</template>

<script>
import ConvinceYourBoss from '@/components/ConvinceYourBoss'
import HeroSection from '@/components/Hero'
import SponsorsSection from '@/components/Sponsors'
import VenueSection from '@/components/Venue'
import PromoSection from '@/components/PromoSection'
import PromoSpeakers from '@/components/PromoSpeakers'
import WorkshopsSection from '@/components/WorkshopsSection'
import SpeakersSection from '@/components/SpeakersSection'
import TicketsSection from '@/components/Tickets'

import speakers from '../content/2019/speaker-list-2019.json'

export default {
  components: {
    ConvinceYourBoss,
    HeroSection,
    SponsorsSection,
    VenueSection,
    PromoSection,
    PromoSpeakers,
    WorkshopsSection,
    SpeakersSection,
    TicketsSection
  },
  head: {
    title: 'Vueconf US – May 15-17, 2024 in New Orleans, LA | Vue.js Conference'
  },
  data() {
    return {
      speakers
    }
  }
}
</script>

<style lang="sass" scoped>
@import ~assets/css/base/helpers

.center
  margin-top: 20px

h3
  margin: 50px 0 0
  font-size: 24px
  font-family: "Source Sans Pro", sans-serif
  font-weight: 300
  color: #35485E

  @media #{$medium-up}
    font-size: 32px
</style>
