<template lang="pug">
.container
  .container__inner
    :markdown-it
      # **Conference Privacy Policy**

        ConnectJS LLC (ConnectEvents.io) is committed to protecting the privacy of your personal information. This Policy explains how we gather and use the information that we collect during and after registration for Vueconf.US. This policy may change over time. Amendments to this statement will be posted at http://Vueconf.US and will be effective when posted. Your continued use of this site following the posting of any amendment, modification or change shall constitute your acceptance thereof.
        
        **Consent** - By registering for conference updates or signing up for the conference, you expressly consent to the collection and use by ConnectEvents.io of personally identifiable information according to this Privacy Policy laid out below 
        
        **Registration** - During the registration process for Vueconf.US, ConnectEvents.io will collect the following personally identifiable information about you: your name, job title, email address company, State of Residence, Country of Residence and t-shirt size. This information will be used for Vueconf.US registration. During the registration process there is a checkbox that if checked, means that you allow us to share your name, job title, email address, company, State of Residence, and Country of Residence with our sponsors. This will be shared at the conclusion of the conference
        
        **QR Code on your Conference Pass** - The QR Code on your conference pass contains your name, job title, email address, company, State of Residence, and Country of Residence. If you agree to allow a participant of Vueconf.US i.e., Sponsor, Speaker, Fellow attendee to scan your QR Code you are giving them your permission to have access to this information and this is subject to their privacy policies. ConnectEvents.io is not responsible for the privacy practices of a participant of Vueconf.US to whom you have given permission to scan your badge QR Code.  It is your responsibility to as the person or organization scanning your badge QR Code how your information will be used.
        
        **Communications** - ConnectEvents.io occasionally will contact registrants signed up for Vueconf.US with email updates for the current or future conference. Registrants can opt-out of such communications at any time by contacting us or by using the unsubscribe link.
        We also may provide information to regulatory authorities and law enforcement officials in accordance with applicable law or when we otherwise believe in good faith that the law requires it. We do not sell, rent, or share personal information or e-mail addresses with external organizations or individuals.
        
        **Links to Other Web Sites** - ConnectEvents.io may work with other companies’ websites to perform functions on our behalf. Examples include Vueconf.US registration, sending e-mail, and processing credit card payments. They have access to personal information needed to perform their functions, and this is subject to their privacy policies. ConnectEvents.io is not responsible for the privacy practices or the content of such websites. If you want to know the privacy policies of the other websites, please refer to the organization sponsoring such website.
        
        **Conference Sponsor Sites** - This website contains links to conference sponsors websites. Vueconf.US sponsors are responsible for their own policies and procedures. Review the sponsor’s policy regarding their privacy policy. ConnectEvents.io is not responsible for products and services transactions that are consummated at third party websites.
       
        **Conditions of Use, Notices, and Revisions** - If you choose to attend Vueconf.US, your visit and any dispute over privacy is subject to this notice, including limitations on damages, arbitration of disputes, and application of the law of the state of Georgia. If you have any concern about privacy at Vueconf.US, please contact us with a thorough description, and we will try to resolve it.
        Our business changes constantly, and our Privacy Notice will change also. We may e-mail periodic reminders of our notices and conditions, unless you have instructed us not to, but you should check our website frequently to see recent changes. Unless stated otherwise, our current Privacy Notice applies to all information that we have about you. We stand behind the promises we make, however, and will never materially change our policies and practices to make them less protective of customer information collected in the past without the consent of affected customers
        
        **Opting Out of Receiving Communications** - You may opt-out of receiving communications from Vueconf.US by sending an email to hello [at] connectevents dot io

</template>
<script>
export default {
  head: {
    title: 'Vueconf US | Privacy Policy'
  }
}
</script>

<style lang="sass" scoped>
h1, h2, h3
  text-align: center

h1, h2
  margin-bottom: 0

h3
  margin-top: 0
</style>
