<template>
<div>
    <div class="container">
        <div class="section post-section">
            <h1 class="header">Workshop Instructions</h1>
            <p class="subheader__description"><strong>Please only do the setup for the workshop for which you are registered; check your ticket to see which one you've signed up for!</strong></p>
        </div>

        <div class="container__inner">
            <div class="content">
              <p class="subheader__description"><strong>Evan You - Reactivity Deep Dive</strong></p>
              <pre >
Stable Node.js v18 (https://nodejs.org/en)
Git for cloning repo and branches
IDE
              </pre>
            </div>
        </div>

      <div class="container__inner">
        <div class="content">
          <p class="subheader__description"><strong>Ben Hong - Proven Patterns for Building Vue Apps</strong></p>
          <pre>
Thanks for registering for Proven Patterns for Building Vue Apps!

First thing first, to help make the workshop the best it can be, please fill out this pre-workshop survey (https://form.typeform.com/to/qOBBpXzw) to share what you're looking to get out of the workshop. I always do my best to tailor each workshop to the group and want to make sure we allocate enough time to various topics to ensure you get what you're looking for.

In terms of tech prep, here are some things I'd recommend preparing:

    Bring your own laptop with a dev environment setup so you can work on exercises and try things yourself. There will be lots of opportunity to code and practice what you're learning, so you don't want to miss out!
    In terms of your dev environment, ideally you'll have:
        Stable Node.js v18 (https://nodejs.org/en)
        Git for cloning repo and branches
        IDE (I'll be using VS Code for all my demos)

In the meantime, please take the time to fill out the pre-workshop survey (https://form.typeform.com/to/qOBBpXzw). And if you have any other questions, don't hesitate to reach out!


              </pre>
        </div>
      </div>

      <div class="container__inner">
        <div class="content">
          <p class="subheader__description"><strong>Adam Jahr - Getting Started with Vue</strong></p>
          <pre>
Hello workshop attendee,

Adam Jahr here with Vue Mastery. I am looking forward to guiding you through a day of learning the fundamentals of Vue.js. By the end of our time together, we will have built two Vue apps, leaving you feeling confident to take what you’ve learned and start building your own apps. In order to get the most out of this workshop, you’ll need to prepare your computer so you can code along throughout the day.

Please follow along with the instructions below before the workshop, as there may not be amazing wifi at the venue.

1. Install Node & npm
Please arrive at the workshop with both node (latest stable version) and npm installed on your computer. If you don’t yet have these installed, here’s some help getting these onto your device.
https://docs.npmjs.com/downloading-and-installing-node-js-and-npm

2. Install Create Vue
Please install the Vite.js-powered Create-Vue CLI on your computer with “npm i create-vue”.
https://www.npmjs.com/package/create-vue

3. Get acquainted with Git Branching
While building the two Vue apps tomorrow, we’ll be using Github repositories, and switching between various branches throughout the day. If you are not familiar with branches and how to checkout between them, please explore this concept.
https://www.atlassian.com/git/tutorials/using-branches/git-checkout

4. Open the Workshop Challenges Doc
By having this already opened in a tab of your browser, you’ll have everything you need without having to rely on the conference wifi.
https://paper.dropbox.com/doc/Getting-Started-w-Vue-Workshop-Challenges-uDULGEgcQwNvj9L3DF4EP

That’s it for now! Looking forward to meeting you at the workshop.
              </pre>
        </div>
      </div>

      <div class="container__inner">
        <div class="content">
          <p class="subheader__description"><strong>Alex - State Management with Pinia</strong></p>
          <pre>
Here is what user's need to download for the Pinia workshop:

Exercise Docs: https://vueschool.notion.site/Exercises-Public-022ea07ba2ec43e2a53fbef730efc33b
Git Repo: https://github.com/vueschool/pinia-ws-boilerplate


              </pre>
        </div>
      </div>

      <div class="container__inner">
        <div class="content">
          <p class="subheader__description"><strong>Jessica Sachs - Stress free testing</strong></p>
          <pre>
Stable Node.js v18 (https://nodejs.org/en), also install Yarn
Git for cloning repo and branches
IDE
              </pre>
        </div>
      </div>

      <div class="container__inner">
        <div class="content">
          <p class="subheader__description"><strong>Daniel Roe - Nuxt 3 - Inside and Out</strong></p>
          <pre>
Really looking forward to seeing you at Nuxt 3 - Inside and Out!

I would really value any information about you and your objectives. Please feel free to drop me a line at daniel@roe.dev to let me know anything that might be relevant or that you're hoping we could cover.

On the day, the main thing is that you have:

    a GitHub account
    a laptop with Node.js 18 or current LTS installed (https://nodejs.org) - I recommend https://asdf-vm.com/ for managing your Node versions
    git and ssh configured so you can
    an IDE like VS Code (https://code.visualstudio.com/) installed with the Vue Language Features plugin (https://marketplace.visualstudio.com/items?itemName=Vue.volar) enabled

Looking forward to seeing you soon in New Orleans!
              </pre>
        </div>
      </div>

    </div>
</div>
</template>


<script>
import VenueSection from '@/components/Venue'
import WroclawVideo from '@/components/WroclawVideo'
import Attraction from '@/components/Attraction'
import Hint from '@/components/Hint'
import hotels from '~/content/hotels'
import restaurants from '~/content/restaurants'
import hints from '~/content/hints'
import sights from '~/content/sights'

export default {
  components: {
    VenueSection,
    WroclawVideo,
    Attraction,
    Hint
  },
  head: {
    title: 'VueConf US 2018 | Guide'
  },
  data () {
    return {
      hotels,
      restaurants,
      hints,
      sights
    }
  }
}
</script>


<style lang="sass" scoped>
@import ~assets/css/base/helpers
pre
  white-space: pre-wrap
  word-break: break-word
.container__inner
    position: relative

    @media #{$medium-up}
        padding-top: 10px
        padding-bottom: 10px

    .venue-image
        max-height: 540px

    .half
        display: inline-block
        max-width: 100%
        vertical-align: top
        text-align: left
        position: relative
        margin-bottom: 20px
        padding: 0 20px

        img
            max-width: 100%

            @media #{$medium-up}
                max-width: none
                right: 20px
                position: absolute

        @media #{$medium-up}
            width: 100%
            max-width: calc(50% - 40px)

    .half--right
        img
            @media #{$medium-up}
                left: 20px

    .button
        margin-top: 20px
        font-weight: 400
        font-size: 16px

    .more-info
        margin-top: 60px
        text-align: center
</style>
