<template>
  <div class="container">
    <div class="container__inner post-section">
      <h1 class="agenda__header">Workshops</h1>
      <p class="subheader__description">
        <strong>Monday March 25</strong>
        <br>
        Workshops and conference tickets are sold separately.
      </p>
      <div class="agenda">
        <talk v-for="(workshop, key) in workshops"
          :talk="workshop"
          :key="key"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Talk from '../components/Talk'

export default {
  head: {
    title: 'VueConf US 2019 | Workshops'
  },
  components: { Talk },
  data () {
    return {
      workshops: {
        evanWorkshop: {
          id: 'vue-deep-dive',
          type: "workshop",
          topic: "A Deep Dive into Vue",
          authors: [
            {
              name: "Evan You",
              img: "/img/evan.jpg",
              social: {
                github: "https://github.com/yyx990803",
                twitter: "https://twitter.com/youyuxi"
              },
              tagline: "Creator of Vue.js",
            }
          ],
          description: "<p>In this workshop we are going to do a deep dive into the two fundamental concepts in Vue: reactivity and rendering. We will explore how Vue detects and reacts to changes, and how Vue compiles your templates into virtual DOM render functions. Based on this knowledge, we will then discuss how to unlock the full potential of Vue with advanced component patterns.</p>"
        },
        chrisWorkshop: {
          id: "proven-patterns",
          type: "workshop",
          topic: "Proven Patterns for Building Vue Apps",
          authors: [
            {
              name: "Chris Fritz",
              img: "/img/chris.jpg",
              tagline: "Consultant<br>Vue Core Team",
              social: {
                github: "https://github.com/chrisvfritz",
                twitter: "https://twitter.com/chrisvfritz",
              }
            }
          ],
          description: "<p>In this workshop, we'll cover everything you need to know to get started building world-class Vue applications. Topics will include configuring Webpack for single-file components, setting up the most advanced workflows currently possible, how to organize (and reorganize) increasingly complex applications, and more.</p>"
        },
        alexRolfWorkshop: {
          id: "vuex-demystified",
          type: "workshop",
          topic: "Vuex Demystified - Application State Management",
          authors: [
            {
              name: "Alex Kyriakidis",
              img: "/img/alexk.jpg",
              tagline: "Vue Core Team<br>Co-founder of VueSchool.io",
              social: {
                github: "https://github.com/hootlex",
                twitter: "https://twitter.com/hootlex"
              }
            },
            {
              name: "Rolf Haug",
              img: "/img/rolfh.jpeg",
              tagline: "Co-founder and educator at VueSchool.io",
              social: {
                github: "https://github.com/rahaug",
                twitter: "https://twitter.com/rahaug"
              }
            }
          ],
          description: "<p>In Vue.js is quite simple to work with components, and share data among them using events and props - especially in small to medium projects. When an application starts growing, managing components state might become tedious and overwhelming. This is where Vuex comes to our rescue. Vuex is a state management pattern and official library for Vue.js applications. It serves as a centralized store for all the components in an application, with rules ensuring that the state can only be mutated in a predictable fashion.</p><p>By the end of the workshop, attendees will be able to develop elegant, debuggable, maintainable, and organized applications using a centralized store. No prior experience with Vuex is needed.</p><p>We will answer the common question “When should I use Vuex?” and work on real-world features.</p><ul><li>Understanding State Management Patterns</li><li>What is Vuex and what problems solves</li><li>Core concepts including Mutations, Actions, and Getters</li><li>Modularising the store</li><li>Composing Vuex assets using Higher-Order Functions</li><li>Implementing Vuex pseudo-cache</li><li>Best practices, common gotchas, and application architecture</li></ul>"
        },
        greggAdamWorkshop: {
          id: "intro-to-vue",
          type: "workshop",
          topic: "Intro to Vue",
          authors: [
            {
              name: "Gregg Pollack",
              img: "/img/gregg.jpg",
              tagline: "Teacher at VueMastery.com<br>Code School Founder",
              social: {
                twitter: "https://twitter.com/greggpollack"
              }
            },
            {
              name: "Adam Jahr",
              img: "/img/adam.jpg",
              tagline: "Teacher at VueMastery.com",
              social: {
                twitter: "https://twitter.com/AdamJahr",
              }
            }
          ],
          description: "<p>This workshop will teach you the fundamentals of Vue so you can start being productive and building apps immediately. With visual animations and analogies that make abstract concepts concrete, along with coding challenges that help you learn by doing, you'll have a solid foundation of Vue skills by the end of the day.</p><p>Brought to you by the teachers at <a href=\"https://www.vuemastery.com/\">VueMastery.com</a>.</p>"
        },
        damianBenWorkshop: {
          id: "ridiculously-reusable-components",
          type: "workshop",
          topic: "Ridiculously Reusable Components in Vue.js",
          authors: [
            {
              name: "Damian Dulisz",
              img: "/img/damian.jpg",
              tagline: "Vue.js Core Team Member<br>Vue.js Consultant",
              social: {
                github: "https://github.com/shentao",
                twitter: "https://twitter.com/DamianDulisz"
              }
            },
            {
              name: "Ben Hong",
              img: "/img/ben.jpg",
              tagline: "Senior Frontend Engineer at GitLab<br>Vue.js Community Partner",
              social: {
                github: "https://github.com/bencodezen",
                twitter: "https://twitter.com/bencodezen"
              }
            }
          ],
          description: "<p>While components are one of the best things that have happened to the frontend development workflow, reusability and scalability become difficult things to manage as your codebase and team grows.</p><p>In this workshop, we will cover cutting edge techniques, design patterns and anti-patterns, and best practices that you need to consider for component reusability and more.</p><p>By the end of the workshop, you will have a solid foundation of what it takes to create components that are reusable, scales well, and resilient to change.</p>"
        },
        vueVixensWorkshop: {
            id: "vue-vixens-skulk",
            type: "workshop",
            topic: "Vue Vixens Skulk",
            authors: [
              {
                name: "Jen Looper",
                img: "https://pbs.twimg.com/profile_images/1085627202815881216/pGPLZ7HN_400x400.jpg",
                tagline: "Senior Developer Advocate at Progress",
                social: {
                  github: "https://github.com/jlooper",
                  twitter: "https://twitter.com/jenlooper"
                }
              },
              {
                name: "Diana Rodriguez",
                img: "/img/diana.jpg",
                tagline: "Worldwide Community Organizer",
                social: {
                  github: "https://github.com/Alphacentauri82",
                  twitter: "https://twitter.com/cotufa82",
                }
              }
            ],
            description: "<p>VueConf.US is pleased to partner with VueVixens to bring this full day Vue.js training as part of the event.</p><p>You'll have a chance to work with great mentors like:</p><ul><li><a href='https://twitter.com/michelecynowicz' target='_blank'>Michele Cynowicz</a></li><li><a href='https://twitter.com/novelladev' target='_blank'>Novella C.</a></li></ul><p>Details for applying for a VueVixens scholarship will be posted soon!<p>",
            workshopUrl: "https://vuevixens.org/form/vueconfus2019"
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import ~assets/css/base/helpers

.agenda__card
  height: 100px
  width: 100%

.agenda__header
  margin-bottom: 20px

.subheader__description
  margin: 0 0 80px
</style>
